= form_with(model: @spot, local: true, class: :"post-spot__form") do |f|
  .post-spot__form__top
    .post-spot__form__top__left
      %h1.post-spot__form__top__left__item 観光スポット
      = f.text_field :name
      %h1.post-spot__form__top__left__item 地方区分
      = f.collection_select :division_id, Division.all, :id, :name
      %h1.post-spot__form__top__left__item 都道府県
      = f.collection_select :prefecture_id, Prefecture.all, :id, :name
      %h1.post-spot__form__top__left__item 詳細住所
      = f.text_field :address
      %h1.post-spot__form__top__left__item 最寄り駅
      = f.text_field :station
    .post-spot__form__top__right
      %h1.post-spot__form__top__right__item 紹介コメント
      = f.text_area :introduction
  .post-spot__form__bottom
    %h1.post-spot__form__bottom__item 写真
    = f.fields_for :images do |image_form|
      = image_form.file_field :image, type: 'file', id: :"img-file"
      -# %input{type: "file", name: 'spot[images_atributes][1][image]'}
      -# %input{type: "file", name: 'spot[images_atributes][2][image]'}
      -# %input{type: "file", name: 'spot[images_atributes][3][image]'}
    .post-spot__form__bottom__preview
      .image-inline
  .post-spot__form__btn
    = f.submit "create"