.spots-index
  .spots-index__list
    - @spots.each do |spot|
      .spots_box
        = link_to spot_path(id: spot.id), class: :spots_box__detail do
          = image_tag spot.images[0].image.url, size: "250x170"
          %p.spots_box__detail__parag=spot.division.name
          %h1.spots_box__detail__title=spot.prefecture.name
          %p.spots_box__detail__parag=spot.station
    - 12.times do
      .spots_box
        = link_to "#", class: :spots_box__detail do
          = image_tag "dot_pink.gif", size: "250x170"
          %p.spots_box__detail__parag 都道府県名
          %h1.spots_box__detail__title 観光地名
          %p.spots_box__detail__parag 最寄駅
    
  = link_to "Log in", new_user_session_path