.spot-description
  .spot-description__left
    = link_to user_path(id: @spot.user.id) do
      %ul.spot-description__left__list
        %li.spot-description__left__list__icon
          - if @spot.user.profile.icon?
            = image_tag @spot.user.profile.icon.url
          - else
            = image_tag "icon.png"
        %li.spot-description__left__list__name=@spot.user.nickname
  .spot-description__right
    %h1.spot-description__right__title=@spot.name
    
.image-show
  .image-show__picture
    .image-show__picture__left
      = image_tag @spot.images[0].image.url
    .image-show__picture__right
      .image-show__picture__right__top
        .image-show__picture__right__top__block
          = image_tag @spot.images[0].image.url
        .image-show__picture__right__top__block
          = image_tag @spot.images[0].image.url
      .image-show__picture__right__bottom
        .image-show__picture__right__bottom__block
          = image_tag @spot.images[0].image.url
        .image-show__picture__right__bottom__block
          = image_tag @spot.images[0].image.url

.spot-location
  .spot-location__detail
    .spot-location__detail__box
      .spot-location__detail__box__item 都道府県：
      .spot-location__detail__box__content=@spot.prefecture.name
    .spot-location__detail__box
      .spot-location__detail__box__item 詳細住所：
      .spot-location__detail__box__content=@spot.address
    .spot-location__detail__box
      .spot-location__detail__box__item 最寄り駅：
      .spot-location__detail__box__content=@spot.station
  
.spot-characteristic
  .spot-characteristic__introduction
    %h1.spot-characteristic__introduction__title 紹介コメント
    .spot-characteristic__introduction__message=simple_format @spot.introduction
  .spot-characteristic__review
    %h1.spot-characteristic__review__title 来訪者コメント欄
    .spot-characteristic__review__box
      - if user_signed_in?
        = form_with(model: @spot, local: true, class: :"review-form") do |f|
          .review-form__icon
            - if current_user.profile.icon?
              = image_tag current_user.profile.icon.url
            - else
              = image_tag "icon.png"
          .review-form__text
            = f.text_field :introduction, class: :"review-form__text__input"
          = f.submit "コメント", class: :"review-form__btn"
      - 20.times do
        .review-index
          .review-index__icon
            =image_tag "icon.png"
          .review-index__comment
            .review-index__comment__name=@spot.user.nickname
            .review-index__comment__text=@spot.address
      
        