.spot-description
  .spot-description__left
    = link_to user_path(id: @spot.user.id) do
      %ul.spot-description__left__list
        %li.spot-description__left__list__icon
          - if @spot.user.profile.icon?
            = image_tag @spot.user.profile.icon.url
          - else
            = image_tag "icon.png"
        %li.spot-description__left__list__name=@spot.user.nickname
  .spot-description__right
    %h1.spot-description__right__title=@spot.name
    -# %ul.spot-description__header__right
    -#   %li.spot-description__header__right__detail="　　地方区分：#{@spot.division.name}"
    -#   %li.spot-description__header__right__detail="　　都道府県：#{@spot.prefecture.name}"
    -#   %li.spot-description__header__right__detail="　　　　住所：#{@spot.address}"
    -#   %li.spot-description__header__right__detail="　　　最寄駅：#{@spot.station}"
    -#   %li.spot-description__header__right__detail="おすすめ季節：#{@spot.recommend_season}"
    -#   %li.spot-description__header__right__detail="　　　休業日：#{@spot.close_day}"

.image-show
  .image-show__picture
    .image-show__picture__left
      = image_tag @spot.images[0].image.url
    .image-show__picture__right
      .image-show__picture__right__top
        .image-show__picture__right__top__block
          = image_tag @spot.images[0].image.url
        .image-show__picture__right__top__block
          = image_tag @spot.images[0].image.url
      .image-show__picture__right__bottom
        .image-show__picture__right__bottom__block
          = image_tag @spot.images[0].image.url
        .image-show__picture__right__bottom__block
          = image_tag @spot.images[0].image.url

.spot-location
  .spot-location__detail
    .spot-location__detail__box
      .spot-location__detail__box__item 都道府県：
      .spot-location__detail__box__content=@spot.prefecture.name
    .spot-location__detail__box
      .spot-location__detail__box__item 詳細住所：
      .spot-location__detail__box__content=@spot.address
    .spot-location__detail__box
      .spot-location__detail__box__item 最寄り駅：
      .spot-location__detail__box__content=@spot.station
    .spot-location__detail__box
      .spot-location__detail__box__item 休業日：
      .spot-location__detail__box__content=@spot.recommend_season

