.profile-background
  .proflie
    .proflie__box
      %h1.proflie__box__title Profile
      = form_with model: @profile, class: "profile-form", local: true do |f|
        = render "devise/shared/error_messages", resource: @profile
        .profile-form__field
          .profile-form__field__title Citizenship
          = f.text_field :citizenship
        .profile-form__field
          .profile-form__field__title Icon
          = f.file_field :icon
        .profile-form__field
          .profile-form__field__title Gender
          = f.text_field :gender
        .profile-form__field
          .profile-form__field__title Age
          = f.text_field :age
        .profile-form__action
          = f.submit "Register", class: "profile-form__action__btn"
      .log-in__box__close
        -# %p.log-in__box__close__btn
        = link_to "戻る", spots_path, class: "log-in__box__close__btn"