.user-profile
  .user-profile__box
    .user-profile__box__left
      - if @user.profile.icon != nil
        = image_tag @user.profile.icon.url, class: :user_icon
      - else
        .user-profile__box__left__nil-icon
    
    .user-profile__box__right
      - if current_user.id == @user.id
        = form_with(model: @user, local: true, class: :"update-form") do |f|
          .update-form__field
            %label ニックネーム
            %br
            = f.text_field :nickname, placeholder: @user.nickname
          .update-form__field
            %label メールアドレス
            %br
            = f.email_field :email, placeholder: @user.email

          = f.fields_for :profiles do |profile_form|
            .update-form__field
              %label 国籍
              %br
              = profile_form.text_field :citizenship, value: @user.profile.citizenship
            .update-form__field
              %label アイコン
              %br
              = profile_form.file_field :icon
            .update-form__field
              %label 性別
              %br
              = profile_form.text_field :gender, value: @user.profile.gender
            .update-form__field
              %label 年齢
              %br
              = profile_form.text_field :age, value: @user.profile.age
          .update-form__btn
            = f.submit "Update", method: :post

      - else
        %ul.user-profile__box__right__list
          %li.user-profile__box__right__list__revise=@user.nickname
          %li.user-profile__box__right__list__revise=@user.email
          %li.user-profile__box__right__list__revise=@user.profile.citizenship
          %li.user-profile__box__right__list__revise=@user.profile.gender
          %li.user-profile__box__right__list__revise=@user.profile.age
