!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LANDSCAPE
    = csrf_meta_tags
    = csp_meta_tag
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    .header
      .header__top
        = link_to root_path, class: :header__top__title do
          %i.fas.fa-globe-asia.header__top__title__icon
          %h1.header__top__title__text LANDSCAPE

      -if user_signed_in?
        .header__nav
          %ul.header__nav__block
            %li.header__nav__block__list
              = link_to user_path(id: current_user), class: :header__nav__block__list do
                %i.fas.fa-globe-asia.header__nav__block__list__icon
                %p.header__nav__block__list__name My Page
            %li.header__nav__block__list
              = link_to new_spot_path, class: :header__nav__block__list do
                %i.fas.fa-globe-asia.header__nav__block__list__icon
                %p.header__nav__block__list__name New
            %li.header__nav__block__list
              = link_to "#", class: :header__nav__block__list do
                %i.fas.fa-globe-asia.header__nav__block__list__icon
                %p.header__nav__block__list__name サンプル
            %li.header__nav__block__list
              = link_to destroy_user_session_path, method: :delete, class: :header__nav__block__list do
                %i.fas.fa-globe-asia.header__nav__block__list__icon
                %p.header__nav__block__list__name Log Out

        .header__image
          %p.header__image__message Welcome to Japan!!

    = yield
